<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-navbar>
      <a href=""><img src="https://www.salesforce.com/content/dam/sfdc-docs/www/logos/logo-salesforce.svg" alt=""></a>
      <ion-button>Try for free</ion-button>
      <ion-buttons>
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </ion-navbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="select-block">
    <div class="container">
      <p>Salesforse Platform</p>
      <select id="leftnav-select" aria-labelledby="leftnav-select-text">
        <option class="active " value="/fr/products/sales-cloud/overview/" selected="selected">Overview</option>
        <option value="/fr/products/sales-cloud/features/">Fonctionnalités</option>
        <option value="/fr/products/sales-cloud/pricing/">Formules d'abonnement</option>
      </select>
    </div>
  </div>

  <div class="content">
    <div class="box-content">
      <h4>Salesforce platform</h4>
      <h1>Go digital fast and empower your teams to work from anywhere.</h1>
      <ul>
        <li>
          <ion-icon name="checkmark"></ion-icon>Build enterprise-quality apps that help your company reach its goals
        </li>
        <li>
          <ion-icon name="checkmark"></ion-icon>Scale faster on a trsuted, intelligent network
        </li>
        <li>
          <ion-icon name="checkmark"></ion-icon>Give teams the tools to compose apps with cliks or code
        </li>
      </ul>
      <ion-button>Take the tour</ion-button>
    </div>
    <div class="box-content">
      <h4>Salesforce platform</h4>
      <h1>Go digital fast and empower your teams to work from anywhere.</h1>
      <ul>
        <li>
          <ion-icon name="checkmark"></ion-icon>Build enterprise-quality apps that help your company reach its goals
        </li>
        <li>
          <ion-icon name="checkmark"></ion-icon>Scale faster on a trsuted, intelligent network
        </li>
        <li>
          <ion-icon name="checkmark"></ion-icon>Give teams the tools to compose apps with cliks or code
        </li>
      </ul>
      <ion-button>Take the tour</ion-button>
    </div>
    <div class="box-content">
      <h4>Salesforce platform</h4>
      <h1>Go digital fast and empower your teams to work from anywhere.</h1>
      <ul>
        <li>
          <ion-icon name="checkmark"></ion-icon>Build enterprise-quality apps that help your company reach its goals
        </li>
        <li>
          <ion-icon name="checkmark"></ion-icon>Scale faster on a trsuted, intelligent network
        </li>
        <li>
          <ion-icon name="checkmark"></ion-icon>Give teams the tools to compose apps with cliks or code
        </li>
      </ul>
      <ion-button>Take the tour</ion-button>
    </div>
    <div class="box-content">
      <h4>Salesforce platform</h4>
      <h1>Go digital fast and empower your teams to work from anywhere.</h1>
      <ul>
        <li>
          <ion-icon name="checkmark"></ion-icon>Build enterprise-quality apps that help your company reach its goals
        </li>
        <li>
          <ion-icon name="checkmark"></ion-icon>Scale faster on a trsuted, intelligent network
        </li>
        <li>
          <ion-icon name="checkmark"></ion-icon>Give teams the tools to compose apps with cliks or code
        </li>
      </ul>
      <ion-button>Take the tour</ion-button>
    </div>
    <div class="box-content">
      <h4>Salesforce platform</h4>
      <h1>Go digital fast and empower your teams to work from anywhere.</h1>
      <ul>
        <li>
          <ion-icon name="checkmark"></ion-icon>Build enterprise-quality apps that help your company reach its goals
        </li>
        <li>
          <ion-icon name="checkmark"></ion-icon>Scale faster on a trsuted, intelligent network
        </li>
        <li>
          <ion-icon name="checkmark"></ion-icon>Give teams the tools to compose apps with cliks or code
        </li>
      </ul>
      <ion-button>Take the tour</ion-button>
    </div>
    <div class="box-content">
      <h4>Salesforce platform</h4>
      <h1>Go digital fast and empower your teams to work from anywhere.</h1>
      <ul>
        <li>
          <ion-icon name="checkmark"></ion-icon>Build enterprise-quality apps that help your company reach its goals
        </li>
        <li>
          <ion-icon name="checkmark"></ion-icon>Scale faster on a trsuted, intelligent network
        </li>
        <li>
          <ion-icon name="checkmark"></ion-icon>Give teams the tools to compose apps with cliks or code
        </li>
      </ul>
      <ion-button>Take the tour</ion-button>
    </div>
    <div class="box-content">
      <h4>Salesforce platform</h4>
      <h1>Go digital fast and empower your teams to work from anywhere.</h1>
      <ul>
        <li>
          <ion-icon name="checkmark"></ion-icon>Build enterprise-quality apps that help your company reach its goals
        </li>
        <li>
          <ion-icon name="checkmark"></ion-icon>Scale faster on a trsuted, intelligent network
        </li>
        <li>
          <ion-icon name="checkmark"></ion-icon>Give teams the tools to compose apps with cliks or code
        </li>
      </ul>
      <ion-button>Take the tour</ion-button>
    </div>
    <div class="box-content">
      <h4>Salesforce platform</h4>
      <h1>Go digital fast and empower your teams to work from anywhere.</h1>
      <ul>
        <li>
          <ion-icon name="checkmark"></ion-icon>Build enterprise-quality apps that help your company reach its goals
        </li>
        <li>
          <ion-icon name="checkmark"></ion-icon>Scale faster on a trsuted, intelligent network
        </li>
        <li>
          <ion-icon name="checkmark"></ion-icon>Give teams the tools to compose apps with cliks or code
        </li>
      </ul>
      <ion-button>Take the tour</ion-button>
    </div>
  </div>

    <a href="" class="helpcall">
      <ion-icon name="call"></ion-icon>
    </a>

    <a href="" class="helpchat">
      <ion-icon name="chatbubbles"></ion-icon>
    </a>

</ion-content>


