ion-navbar {
  background-color: rgb(255, 255, 255);
  --ion-toolbar-background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  ion-button {
    --background: darkgreen;
  }
  a img {
    margin: 7px 0 7px 10px;
    width: 60px;
  }
  ion-icon {
    color: #00a1e0;
    font-size: 32px;
    margin-right: 10px;
  }
}

ion-content {
  --background: rgb(255, 255, 255);
  --ion-toolbar-background: rgb(255, 255, 255);
  --ion-item-background: rgb(255, 255, 255);
  --ion-text-color: #080808;
  .select-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: SalesforceSansRegular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 2;
    color: #032d60;
    background-color: #fafafa;
    border: 1px solid rgb(128, 128, 128);
    .container {
      margin-left: 10px;
      margin-right: 10px;
      p {
        font-family: SalesforceSansRegular, Helvetica, Arial, sans-serif;
        font-size: 15px;
        color: black;
        margin-top: 0;
        margin-bottom: 0;
      }
      select {
        background: #ffff;
        margin-bottom: 10px;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
